# Modelo em produção:

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import xgboost as xgb
import shap

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import KFold
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.metrics import log_loss
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline as SkPipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import precision_score, recall_score, f1_score, precision_recall_curve, average_precision_score
from sklearn.metrics import auc
from sklearn.metrics import roc_auc_score, roc_curve, confusion_matrix, classification_report, ConfusionMatrixDisplay, mean_absolute_error
from sklearn.model_selection import cross_val_predict
from sklearn.pipeline import make_pipeline
from imblearn.ensemble import BalancedRandomForestClassifier 
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.tree import DecisionTreeClassifier

In [6]:

# Caminho relativo correto a partir da pasta 'notebooks'
df = pd.read_pickle('../data/df_copy_encoded.pkl')

# Cria uma cópia independente
df_copy_encoded = df.copy()

In [7]:
df_copy_encoded.head()

,age,amt_active_loan,ext_score_1,ext_score_4,flag_document_A,gender,income,score_checks,start_hour,default,...,ext_score_3_55UK234RR1d7HIWJjmq9tw==,ext_score_3_IOVu8au3ISbo6+zmfnYwMg==,ext_score_3_SaamrHMo23l/3TwXOWgVzw==,ext_score_3_cdpgyOyZS04uXerMNu7uCw==,ext_score_3_A+QuW1n/ABeiVVe/9CRZ9Q==,ext_score_3_7h8PTkrlTWUPP3yuyP4rUg==,ext_score_3_+CxEO4w7jv3QPI/BQbyqAA==,ext_score_3_5/uMrqKj3OL/Xk5OrGx9fg==,ext_score_3_bopP0NxW3+r8tn9xIHTaOw==,occupation_type_te
0,37,4560.0,467.0,61.311861,1,1.0,86301.53,8.0,9.0,0.0,...,0,0,0,0,0,0,0,0,0,0.666667
1,37,4560.0,467.0,61.311861,1,1.0,86301.53,8.0,9.0,0.0,...,0,0,0,0,0,0,0,0,0,0.600000
2,37,4560.0,467.0,61.311861,1,1.0,86301.53,8.0,9.0,0.0,...,0,0,0,0,0,0,0,0,0,0.666667
3,37,4560.0,467.0,61.311861,1,1.0,86301.53,8.0,9.0,0.0,...,0,0,0,0,0,0,0,0,0,0.625000
4,37,4560.0,467.0,61.311861,1,1.0,86301.53,8.0,9.0,0.0,...,0,0,0,0,0,0,0,0,0,0.545455